section.artists-container {
    @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    width: 100%;
    .displayFlex();
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;

        
    div.artist {
        @media (max-width: 500px){
            display: flex;
            flex-direction: column;
            align-items: center;
    }
        .displayFlex();
        flex-direction: column;
        align-content: center;
        width: 35%;
        
        a {
            .plainText();
            margin: -5% 0% 3% 0%;
            padding: 1%;
            text-align: center;
            text-decoration: none;
        }
       img {
        margin: 10%;
        width: 400px;
        height: 270px;
        border-radius: 10%;
        }

        img:hover {
            opacity: 80%;
        }
        div.bio {
            @media (max-width: 500px){
                width: 400px;
            }
            width: 500px;
            text-align: center;
            font-size: 1.7rem;
            margin-bottom: 10%;
       

        }
}
}

       